/data/counts/* filter=lfs diff=lfs merge=lfs -text
data/counts/corrected_STAR_counts.csv filter=lfs diff=lfs merge=lfs -text
data/counts/uncorrected_STAR_counts.csv filter=lfs diff=lfs merge=lfs -text
data/counts/corrected_counts.csv filter=lfs diff=lfs merge=lfs -text
data/counts/uncorrected_counts.csv filter=lfs diff=lfs merge=lfs -text
**counts.csv filter=lfs diff=lfs merge=lfs -text
